img#avatar{
	border: 1px solid silver;
	border-radius: 4px;
	display: block;
	height: 120px;
	margin-bottom: 2px;
	width: 120px;
}
figure.avatars{
	height: 209px;
	margin-bottom: 10px;
	position: relative;
	width: 209px;
}
figure.avatars figcaption{
	background-color: rgba(0, 0, 0, .7);
	font-weight: bold;
	color: #fff;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}
figure.avatars:hover nav{
	display: block;
}

figure.avatars nav{
	display: none;
	position: absolute;
	bottom: 4px;
}


button.btn {
    left: -272px;
    top: 27px;
    width: 145px;
    position: relative;
    color: #000;
}