body{
	background-color: #0F93D8;

}
a{
	color: 	#E43131;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover{
	text-decoration: none;
}
h1{
	color: 	#E43131;
	font-family: courier;
}

.btn-group{
	position: absolute;
	margin-left: 527px;
}
.table-condensed{
	margin-left: 450px;
}
.table-condensed td{
	padding: 25px;
}
button.btn{
	left: 500px;
	top: 16px;
	position: relative;
	color: #000;
}